/* @import "tailwindcss"; */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    /* This forces the whole app to use Inter */
    font-family: "Inter", sans-serif;

    /* These two lines make the font look "crisper" and more professional */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* Make sure headings look extra sharp */
  h1,
  h2,
  h3,
  h4 {
    letter-spacing: -0.025em;
  }
}
